body {
  background-color: #0074d9;
}

.box {
  width: 500px;
  margin: 200px 0;
}
.container {
  height: auto;
  text-align: center;
}

.shape1 {
  position: fixed;
  position: relative;

  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 80px;
  float: left;
  margin-right: -50px;
}
.shape2 {
  position: fixed;
  position: relative;

  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 80px;
  margin-top: -30px;
  float: left;
}
.shape3 {
  position: fixed;
  position: relative;

  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 80px;
  margin-top: -30px;
  float: left;
  margin-left: -31px;
}
.shape4 {
  position: fixed;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 80px;
  margin-top: -25px;
  float: left;
  margin-left: -32px;
}
.shape5 {
  position: fixed;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 80px;
  float: left;
  margin-right: -48px;
  margin-left: -32px;
  margin-top: -30px;
}
.shape6 {
  position: fixed;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 80px;
  float: left;
  margin-right: -20px;
  margin-top: -35px;
}
.shape7 {
  position: fixed;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 80px;
  float: left;
  margin-right: -20px;
  margin-top: -57px;
}
.float {
  position: absolute;
  z-index: 2;
}

.form {
  margin-left: 145px;
}
